
/* ====================================================================
    HTML Base
==================================================================== */
html,
body {
    height: 100%;
    font-size: 100%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}
body {
    position: relative;
    cursor: auto;
}

p {
    font-size: 1em;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 0.75rem;
    text-rendering: optimizeLegibility;
}


hr {
    border: solid #DDDDDD;
    border-width: 1px 0 0;
    clear: both;
    height: 0;
    margin: 1.25rem 0 1.1875rem;
}

img {
    max-width: 100%;
    height: auto;
    -ms-interpolation-mode: bicubic;
    vertical-align: bottom;
}

a {
    color: $primary-color;
    text-decoration: none;
}

a:hover,
a:focus {
    cursor: pointer;
    color: $secondary-color;
}

//a:hover,
//a:active {
//    outline: 0;
//}

a img {
    border: none;
}

textarea {
    height: auto;
    min-height: 50px;
}

select {
    width: 100%;
}

input:focus {
    outline: 0;
    border: 1px solid #04A4CC;
}
::-webkit-input-placeholder {
    color: $dark-gray;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: $dark-gray;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: $dark-gray;
}

:-ms-input-placeholder {
    color: $dark-gray;
}

small {
    font-size: 60%;
    line-height: inherit;
}

ul,
ol,
dl {
    font-family: inherit;
    font-size: 1rem;
    line-height: 1.6;
    list-style-position: outside;
    margin-bottom: 1.25rem;
}

ul {
    margin-left: 1.1rem;
}

ul li ul,
ul li ol {
    margin-left: 1.25rem;
    margin-bottom: 0;
}

ol {
    margin-left: 1.4rem;
}

ol li ul,
ol li ol {
    margin-left: 1.25rem;
    margin-bottom: 0;
}

dl dt {
    margin-bottom: 0.3rem;
    font-weight: bold;
}

dl dd {
    margin-bottom: 0.75rem;
}

abbr,
acronym {
    text-transform: uppercase;
    font-size: 90%;
    color: $dark-gray;
    cursor: help;
}

abbr {
    text-transform: none;
}

abbr[title] {
    border-bottom: 1px dotted #DDDDDD;
}

blockquote {
    margin: 0 0 1.25rem;
    padding: 0.5625rem 1.25rem 0 1.1875rem;
    border-left: 1px solid #DDDDDD;
}

blockquote cite {
    display: block;
    font-size: 0.8125rem;
    color: #555555;
}

blockquote cite::before {
    content: "\2014 \0020";
}

blockquote cite a,
blockquote cite a:visited {
    color: #555555;
}

blockquote,
blockquote p {
    line-height: 1.6;
    color: #6f6f6f;
}

$selection-background: lighten($primary-color, 15%);
$selection-color: color-pick-contrast($selection-background, ($white, $black));
::selection {
    background: $selection-background;
    color: $selection-color;
    text-shadow: none;
}
::-moz-selection {
    background: $selection-background;
    color: $selection-color;
    text-shadow: none;
}

/* ====================================================================
    Atoms
==================================================================== */

/* Utilities
***********************************************************************/
.o-hidden {
    overflow: hidden
}

.left {
    float: left;
}

.right {
    float: right;
}

.hide {
    display: none;
}

.hidden {
    visibility: hidden
}

.block {
    display: block
}

.inline {
    display: inline
}

.inline-block {
    display: inline-block;
    vertical-align: middle
}

/* Text color */
// Load color from Foundation palette
@each $name, $color in $foundation-palette {
    .text-#{$name} {
        color: $color;
    }
}
// And other Foundation colors
.text-light-gray {
    color: $light-gray;
}

.text-medium-gray {
    color: $medium-gray;
}

.text-dark-gray {
    color: $dark-gray;
}

.text-black {
    color: $black;
}

.text-white {
    color: $white;
}

/* Text size */
.text-size-xs{
    font-size: rem-calc(8);
}
.text-size-s{
    font-size: rem-calc(12);
}
.text-size-m{
    font-size: rem-calc(16);
}
.text-size-l{
    font-size: rem-calc(20);
}
.text-size-xl{
    font-size: rem-calc(24);
}
.text-size-xxl{
    font-size: rem-calc(28);
}
.text-size-xxxl{
    font-size: rem-calc(32);
}

/* Miscs */
.menu,
.nolist {
    list-style: none;
    padding: 0;
    margin: 0
}

.assistive-text {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}

/* Content part
***********************************************************************/

/* Page content link style */
.content-link {
}

.content-link::before {
    content: url('bundle/images/icon-link.svg');
    height: 1rem;
    width: 1rem;
    position: relative;
    margin-right: 0.75rem;
    display: inline-block;
}

/* Page content download doc */
.download-doc {
    padding: 0;
    margin: 0;
}

.download-doc li {
    margin-bottom: 0.25rem;
    list-style: none;
}

.download-doc-link,
.download-doc a {
}

.download-doc-link::before,
.download-doc a::before {
    content: url('bundle/images/icon-download.svg');
    height: 1em;
    width: 1em;
    position: relative;
    margin-right: 0.75rem;
    display: inline-block;
}

/* Menu button
***********************************************************************/
.menu-button {
    position: relative;
    display: block;
    padding-left: 1.5rem;
    color: $black;
    cursor: pointer;

    .icon-menu {
        display: block;
        position: absolute;
        top: 1.1rem;
        left: 0.6rem;
        width: 1.3rem;
        height: rem-calc(3);
        background-color: $primary-color;

        &::before,
        &::after {
            content: '';
            position: absolute;
            display: block;
            left: 0;
            width: 100%;
            height: rem-calc(3);
            background-color: $primary-color;
            transition-duration: 0.3s, 0.3s;
        }
        &::before {
            top: -0.5rem;
            transition-property: top, transform;
        }
        &::after {
            bottom: -0.5rem;
            transition-property: bottom, transform;
        }
    }
    &.is-open {
        .icon-menu {
            background-color: transparent;
            &::before {
                top: 0;
                transform: rotate(45deg);
            }
            &::after {
                bottom: 0;
                transform: rotate(-45deg);
            }
            &::before,
            &::after {
                transition-delay: 0s, 0.3s;
            }
        }
    }
}

/* Reponsive iframe
***********************************************************************/
[class~="responsive-iframewrap"] {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

[class~="responsive-iframewrap"] iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 98%;
    height: 98%;
}

/* Back to top
***********************************************************************/
.back-to-top {
    position: fixed;
    display: block;
    right: 1rem;
    bottom: -10rem;
    width: 3.5rem;
    height: 3.5rem;
    text-decoration: none;
    border-radius: 0.25rem;
    border: 1px solid #aaa;
    transition: 0.3s opacity, 0.3s bottom;
    background: url('bundle/images/icon-top.svg') no-repeat scroll center center $black;
    background-size: 80%;
    opacity: 0;
}

.back-to-top.is-active {
    opacity: 0.4;
    bottom: 1rem;
}

.back-to-top.is-active:hover {
    opacity: 0.8;
}

/* ====================================================================
    Molecules
==================================================================== */

/* Pagination
*******************************************************************************/
.pagination{
    display: flex;
    align-items: stretch;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 2rem;

    .page-numbers{
        margin: 0 0.25rem;
    }

    .current{
        border-radius: $global-radius;
    }
}

/* Post Sharer
*******************************************************************************/
.post-sharer{
    .share-button--button{}
    .share-button--icon{
        display: inline-block;
        vertical-align: middle;
        width: rem-calc(30);
        line-height: 1.5;
        padding-top: rem-calc(2);
        margin: 0 rem-calc(3);
        font-size: rem-calc(16);
        background: $white;
        color: $black;
        border: 1px solid $black;
        text-align: center;
        border-radius: 50%;
        transition: transform 0.3s, background 0.3s;

        &.share-button--facebook{
            color: $color-fb;
            border-color: $color-fb;
        }
        &.share-button--twitter{
            color: $color-twitter;
            border-color: $color-twitter;
        }
        &.share-button--google{
            color: $color-google;
            border-color: $color-google;
        }
        &.share-button--linkedin{
            color: $color-linkedin;
            border-color: $color-linkedin;
        }

        &:hover{
            color: $white;

            &.share-button--facebook{ background: $color-fb;}
            &.share-button--twitter{ background: $color-twitter;}
            &.share-button--google{ background: $color-google;}
            &.share-button--linkedin{ background: $color-linkedin;}
        }
    }

}

/* Logo
***********************************************************************/
.logo {}
.logo-img,
.custom-logo{
    max-width: 10rem;
}

/* Old browser popup
***********************************************************************/
.old_browser {
    background: #c0392b;
    color: $white;
    padding: 25px 30px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 9999;

    p {
        margin: 0;
    }

    a {
        text-decoration: underline;
        color: $white;
    }
}

/* ====================================================================
    Organisme
==================================================================== */

/* Header
***********************************************************************/
.header {}

/* Main nav
***********************************************************************/
.nav {}

/* Sidebar
***********************************************************************/
.sidebar {}

/* Footer
***********************************************************************/
.footer {}

/* ====================================================================
    Pages
==================================================================== */

/* Page d'accueil
***********************************************************************/
.home {}
