/* ====================================================================
    Media queries
==================================================================== */
/* Tiny screen (max 320px) */
@media only screen and (max-width: 20rem) {
}

/* Small screen (max 640px) */
@media only screen and (max-width: 39.938rem) {
}

/* Small + Medium screen (max $global-width, default 1200px) */
@media only screen and (max-width: $global-width) {
    .header-menu {
        display: none;
    }
    .menu-button {
        &.is-open {
            & + .nav {
                position: absolute;
                width: 100vw;
                height: auto;
                right: 0;
                top: 100%;
                z-index: 99;

                .header-menu {
                    display: block;
                    width: 100%;
                    padding: 2rem;
                    z-index: 100;

                    .header-menu--menu-item .sub-menu {
                        display: none;
                        margin: 0.3rem 0 0 0;

                        &.is-open {
                            display: block;
                        }
                        .header-menu--menu-item {
                            padding-bottom: 0.3rem;
                            margin-bottom: 0.3rem;
                            border-bottom: 1px solid #D2D2D2;
                        }

                        .header-menu--menu-item-link {
                            color: $black;
                        }
                    }
                }
            }
        }
    }

    .header-menu--menu-item {
        display: block;
        padding: 0.5rem 0;
        margin: 0 0 0 0.5rem;
        border-bottom: 1px dotted #ccc;
        width: 100%;
        max-width: inherit;
    }

}

/* Medium up screen (min 641px) */
@media only screen and (min-width: 40.0625rem) {
    .menu-button {
        display: none;
    }
}

/* Large up screen (min $global-width, default 1200px) */
@media only screen and (min-width: $global-width) {
}

/* XLarge screen (min 1441px) */
@media only screen and (min-width: 90.0625rem) {
}

/* Retina */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 144dpi) {
}

/* Print */
@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important
    }
    a,
    a:visited {
        text-decoration: underline
    }
    a[href]::after {
        content: " (" attr(href) ")"
    }
    abbr[title]::after {
        content: " (" attr(title) ")"
    }
    .ir a::after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: ""
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid
    }
    thead {
        display: table-header-group
    }
    tr,
    img {
        page-break-inside: avoid
    }
    img {
        max-width: 100% !important
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3
    }
    h2,
    h3 {
        page-break-after: avoid
    }
}
