/* ============================================================================= */
/*  Fonts
/* ============================================================================= */

@font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/Roboto-Regular.eot');
    src: url('assets/fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'), url('assets/fonts/Roboto-Regular.woff') format('woff'), url('assets/fonts/Roboto-Regular.ttf') format('truetype'), url('assets/fonts/Roboto-Regular.svg#robotoregular') format('svg');
    font-display: optional;
    font-weight: normal;
    font-style: normal;
}

/* ============================================================================= */
/*  Sass
/* ============================================================================= */

/* VARIABLES
**********************************************************************/
// Theme

// Réseaux sociaux
$color-fb: #3b5998;
$color-twitter: #55acee;
$color-google: #DC4F42;
$color-linkedin: #0077b5;

/* MIXINS
**********************************************************************/


